.ant-layout {
    height: 100%;
  }
  
  .header {
    padding: 0;
  }
  
  .logo {
    float:left;
    //  width: 200px;
    //  height: 60px;
    width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
    background: url('~@/assets/logo.png') no-repeat center / 160px auto;
  }
  
  .layout-content {
    overflow-y: auto;
  }
  
  .user-info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: #fff;
    
    .user-name {
      margin-right: 20px;
    }
    
    .user-logout {
      display: inline-block;
      cursor: pointer;
    }
  }
  .ant-layout-header {
    padding: 0 !important;
  }
// .site-layout-content {
//   min-height: 280px;
//   padding: 24px;
// }
// #components-layout-demo-top .logo {
//   float: left;
//   width: 120px;
//   height: 31px;
//   margin: 16px 24px 16px 0;
//   //background: rgba(255, 255, 255, 0.3);
//   background: url('~@/assets/logo.png') no-repeat center;
// }
// .ant-row-rtl #components-layout-demo-top .logo {
//   float: right;
//   margin: 16px 0 16px 24px;
// }